a {
  color:rgb(0, 132, 255);
  font-family: 'Courier New', Courier, monospace;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 15px;
  background-color: black;
  color: white;
  text-align: left;
  table-layout: fixed;
  font-family: monospace;
  display: flow-root;
  border: 10px solid rgb(0, 0, 0);
  border-radius: 50px;
  padding: 20px;
}

video {
  align-self: center;
}

#h1 {
  border-style:ridge;
  border-width: 3px;
  border-radius: 10px;
  text-align: center;
}

#circle {
  border-radius: 10px;
}

#dog {
  border-color: rgb(0, 132, 255);
  border-radius: 5px;
  border-width: 3px;
}

#h2 {
  text-shadow: 3px 6px 5px rgb(255, 8, 8);
}

#box {
  width: 100px;
  height: 100px;
  background-color: antiquewhite;
  box-shadow: 3px 3px 6px;
}

#img1 {
  float: left;
}

.box {
  border: 2px solid;
  margin: 50px;
  height: auto;
  width: auto;
  padding: 15px;
}

.h2 {
  text-shadow: 2px 4px 4px rgb(0, 132, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#label {
  color: lightskyblue;
}

select {
  background-color: skyblue;
  color: white;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(0, 183, 255);
  box-shadow: 3px 3px 5px rgb(0, 183, 255);
  font-weight: bold;
}

#container {
  border: 5px solid white;
  padding: 5px;
}

#container div {
  border: 3px solid rgb(26, 232, 255);
  padding: 5px;
}

td, th {
  color: black;
  padding: 5px;
}

td {
  background-color: lightgreen;
}

table {
  border: 3px solid rgb(55, 188, 255);
  padding: 5px;
}

#closed {
  color: red;
  background-color: darkred;
}

tr {
  background-color: white;
}

a:link {
  color:skyblue;
}

a:hover {
  color: white;
  font-size: 1.1em;
}

a:active {
  color: lightcoral;
  font-size: 1.1em;
}

a:visited {
  color: rgb(197, 51, 255);
}

#h11::first-letter {
  font-size: 2em;
  font-style: italic;
}

#p::first-line {
  background-color: rgb(176, 97, 255);
}

#p::selection {
  color: black;
  background-color: blueviolet;
}

#LoginBox {
  height: 300px;
  width: 1000px;
  background-color: rgb(15, 15, 15);
  margin-left: 15%;
  border-radius: 20px;
  border: 3px solid rgb(168, 33, 252);
}

#LoginBox > h1 {
  color: rgb(168, 33, 252);
}

 #LoginBox > label {
  color: rgb(168, 33, 252);
  font-size: 1.5em;
}

#LoginBox > input {
  outline: none;
  background-color: black;
  border: 1px solid rgb(168, 33, 252);
  color: white;
  border-radius: 10px;
  font-size: 1.5em;
  padding: 5px;
}

#LoginBox > button {
  font-size: 1.5em;
  width: 150px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: 1px solid rgb(168, 33, 252);
  background-color: black;
}

#LoginBox > button:hover {
  background-color: rgb(22, 22, 22);
  font-size: 1.6em;
  color: rgb(168, 33, 252);
  font-style: bold;
}
